<footer class="footer">
  <div class="logos">
    <!-- <div class="eu">
      <ng-template [ngIf]="lang == 'ENG'" [ngIfElse]="logoEN">
        <img
          class="eu__logo"
          src="assets/img/logo/eu.png"
          alt="EU Logo"
        />
      </ng-template>
      <ng-template #logoEN>
        <img
          class="eu__logo"
          src="assets/img/logo/eu-geo.png"
          alt="EU Logo"
        />
      </ng-template>
    </div> -->

    <img class="sweden" src="assets/img/logo/Sweden.png" alt="Sweden Flag" />

    <img class="undp" src="assets/img/logo/UNDP.svg" alt="UNDP Logo" />
  </div>

  <p class="footerTXT">{{ "footer.text" | translate }}</p>
  <p class="footerTXT">{{ "footer.title1" | translate }}</p>
  <p class="footerTXT">{{ "footer.title2" | translate }}</p>
</footer>
