<div class="default__padding">
  <section class="year__and__country">
    <div class="year__cnt">
      <img src="assets/c-default-indicators/Calendar.png" alt="" />
      <select
        style="
          background: url(assets/c-default-indicators/Down.png) no-repeat right
            transparent;
          width: 60px;
          background-size: 15px;
        "
        (change)="yearChange()"
        [(ngModel)]="year"
      >
        <option *ngFor="let data of years" value="{{ data }}">
          {{ data }}
        </option>
      </select>
    </div>
    <h1 class="main__title">{{ "hotel.title2" | translate }}</h1>
    <input
      class="inputForCountrySearch"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="{{ 'hotel.placeholder' | translate }}"
      autofocus
    />
  </section>
  <section class="map__and__table">
    <div class="contForMapChart">
      <div class="map__chart" id="mapchart"></div>
    </div>

    <div class="cnt__table">
      <table>
        <thead>
          <tr>
            <th
              class="table__title"
              colspan="1"
              style="
                background: #5c4fc9;
                box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.06);
                text-align: center;
              "
              (click)="sortCountryes()"
            >
              {{ "hotel.country" | translate }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-down-up"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"
                />
              </svg>
            </th>
            <th
              class="table__title"
              colspan="1"
              style="
                height: 91px;
                background: #323c95;
                box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.06);
              "
              (click)="sortDataByVisits()"
            >
              {{ "hotel.guests" | translate }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-arrow-down-up"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"
                />
              </svg>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let c of filteredChartData | filter : searchText"
            (click)="getBigChart(c.countryName, lang, c.id)"
          >
            <td style="text-align: left">{{ c.countryName || c.name }}</td>
            <td style="text-align: center">{{ c.value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="charts__wrapper">
    <div class="charts__cnt">
      <div class="cnt__a__chart">
        <div class="animated__chart" id="chartdiv"></div>
      </div>
      <div class="cnt__s__chart">
        <div class="chart__title">
          <p>{{ chosenCountryName }}</p>
          <img src="{{ countryId }}" alt="" width="30px" />
        </div>
        <div class="second__chart" id="chartdiv2"></div>
      </div>
    </div>
    <div class="cnt__bubble__chart">
      <div class="chart__title"></div>
      <div class="second__chart" id="bubbleChart"></div>
      <div class="stats__box">
        <div class="stats__content">
          <input
            type="radio"
            id="ttype1"
            name="tType"
            [checked]="true"
            (change)="setBubblechartData(1)"
          />
          <label class="fontForCheckboxes" for="ttype1">{{
            "hotel.fromRegions" | translate
          }}</label>
        </div>
        <div class="stats__content">
          <input
            type="radio"
            id="ttype2"
            name="tType"
            (change)="setBubblechartData(2)"
          />
          <label class="fontForCheckboxes" for="ttype2">{{
            "hotel.inRegions" | translate
          }}</label>
        </div>
      </div>
    </div>
  </section>
</div>
