<div class="row" style="margin-top: 80px">
  <div class="col-4 text-center">
    <div>
      <button
        (click)="getDetailedPage()"
        type="button"
        class="btn btn-success"
        style="height: 50px"
      >
        ვიზიტების განაწილება
      </button>
    </div>
    <div id="chart1" style="height: 700px"></div>
  </div>
  <div class="col-4 text-center">
    <div>
      <button
        (click)="getDetailedPage()"
        type="button"
        class="btn btn-success"
        style="height: 50px"
      >
        ძირითადი ცვლადით
      </button>
    </div>
    <div id="chart2" style="height: 700px"></div>
  </div>
  <div class="col-4 text-center">
    <div>
      <button
        (click)="getDetailedPage()"
        type="button"
        class="btn btn-success"
        style="height: 50px"
      >
        დამატებითი ცვლადით
      </button>
    </div>
    <div id="chart3" style="height: 700px"></div>
  </div>
</div>
