$white: #ffffff;
$light: #f9fbff;
$dark: #3d3d3e;
$black: #000000;
$gray: #808184;
$lightGray: #929497;
$graycfour: #c4c4c4;
$graysixb: #6b6b6d;
$blue: #2330a4;
$orange: #fda241;
$pink: #ff7eae;
$lightBlue: #32a9ff;
$purple: #5c4fc9;
$lightBtn: #f9f4fb;
$purpleBtn: #51459f;
$lightPurple: #f2f0ff;
